{% extends 'survey/base.html' %}
{% load i18n %}

{% block title %} {% trans "Survey completed" %}{% endblock title %}

{% block body %}
<style>
body {
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
background-attachment: fixed;
  background-repeat: no-repeat;

    font-family: 'Vibur', cursive;
/*   the main font */
    font-family: 'Abel', sans-serif;
opacity: .95;
/* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
}
</style>
<h1>{% trans "Survey completed" %}</h1>
<p> {% trans "Sorry! Your already replied to our survey" %} "{{ survey.name }}". </p>
<p> <a href="{% url "survey-list" %}">{% trans "Back to survey list" %}</a> </p>
{% endblock %}
